.google-login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.google-login-wrapper > div {
  width: 100% !important;
}

.google-login-wrapper iframe {
  width: 100% !important;
}
